
  <li>
    <a href="http://ideas.theideawall.com/TVRename/Forum/Details/8dea3275-4010-4bab-9763-a8bb613517e0" itemprop="sameAs">
      <i class="far fa-lightbulb" aria-hidden="true"></i> Feature Ideas
    </a>
  </li>
  <li>
    <a href="https://groups.google.com/forum/#!forum/tvrename" itemprop="sameAs">
      <i class="fas fa-medkit" aria-hidden="true"></i> Help Forum
    </a>
  </li>
  <li>
    <a href="https://github.com/TV-Rename/tvrename/issues" itemprop="sameAs">
      <i class="fas fa-bug" aria-hidden="true"></i> Lodge Bugs
    </a>
  </li>

  
  