---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ----- Style overrides --------------------- */

.highlighter-rouge {                     /* make highlighter rouge look like  */
    font-size: 1em;                      /* a keyboard key                    */
    color: #000000;
    background-color: #e1e1e1;
    border: 1px solid #adadad;
    border-radius: 3px;
    padding: 1px 1px;
    white-space: nowrap;
}

table {                                  /* minimize table width              */
    width: 0;
}

th, td, td:first-child {                 /* end remove styling                */
    padding: 0 5px;
	font-size: 1.2em;
    font-weight: normal;
    border: none;
    vertical-align: baseline;
}

/* ----- Custom styles ----------------------- */

.pic-l {                                 /* float image left with borders     */
    float: left;
    padding: 0 25px 10px 0;
}

.pic-r {                                 /* float image right with borders    */
    float: right;
    padding: 0 0 10px 25px;
}

.pic-c {                                 /* center image                      */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear {                                 /* clear all floats before next tag  */
    clear: both;
}

.toplink {                               /* set colour and position for       */
    margin-right: auto;                  /* top link and clear floats         */
    text-align: right;
    color: #909090;
    clear: both;
}

.toplink a {                             /* set font size for top link        */
    font-size: 0.7em;
    font-weight: normal;
}

.site-title img {                        /* style Retro TV Logo               */
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.cli {                                   /* "command line" text               */
    font-family: "Lucida Console", monospace;
    font-size: 0.8em;
    font-weight: bold;
}

.fold {                                /* folding block header */
    font-weight: bold;
    text-decoration: underline;
    color: #52adcb;
}

.fold:hover {
    color: #3e8296;
}