---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.pic-l {
    float: left;
    padding: 0 25px 10px 0;
}

.pic-r {
    float: right;
    padding: 0 0 10px 25px;
}
