---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.highlighter-rouge {
    font-size: 1em;
    color: #000000;
    background-color: #e1e1e1;
    border: 1px solid #adadad;
    border-radius: 3px;
    padding: 1px 1px;
    white-space: nowrap;
}

.pic-l {
    float: left;
    padding: 0 25px 10px 0;
}

.pic-r {
    float: right;
    padding: 0 0 10px 25px;
}

.pic-c {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.clear {
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: #ffcc00;
}
.center a:hover {
    border-bottom: 1px solid #3399cc;
}

.toplink {
    margin-right: auto;
    text-align: right;
    color: #909090;
}

.toplink a {
    font-size: 0.7em;
    font-weight: normal;
}

.site-title img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}